.contact-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
