//.port-stuff {
//  display: flex;
//  flex-direction: column;
//  padding-bottom: 2em;
//}
body {
  overflow-x: hidden;
}

.header {
  // height: 100%;
  padding-top: 10vh;
  padding-bottom: 4vh;
  // overflow: hidden
  // display: inline-block;
  display: flex;
  flex-flow: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

.proj {
  display: flex;
  flex-flow: column;
  border: 3px solid black;
  //width: 500px;
  @include tab {
    //width: 90vw;
  }
  a {
    color: $text-color;
    @include ease;
  }
  .proj-name {
    text-align: center;
    padding: 1em;
  }

  .proj-video {
    align-self: center;

    iframe {
      display: block;
      width: 500px;
      padding-bottom: 0;
      margin-bottom: 0;
      @include tab {
        width: 90vw;
      }
    }
  }
  .proj-tech {
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    background-color: $secondary-color;
    .block {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    .fab {
      font-size: 3em;
    }
  }
  .proj-desc {
    text-align: center;
    padding: 1em;
    p {
      overflow: hidden;
    }
  }
}

.all {
  display: grid;
  grid-template-columns: 500px 500px;
  align-items: center;
  gap: 1em;
  justify-content: center;
  margin-bottom: 15px;
  @include desktop {
    display: grid;
    grid-template-columns: 500px;
    grid-auto-flow: row;
    justify-content: center;
    gap: 1em;
    margin-left: 10px;
    margin-right: 10px;
  }
}

//.num1 {
//  margin-left: auto;
//  margin-right: 50px;
//}
//.num2 {
//  margin-right: auto;
//  margin-left: 50px;
//}
